<div class="mx-auto w-96 mt-12">
  <.header>
    <%= @page_title %>
    <:actions>
      <.link
        navigate={~p"/rooms/#{@room}"}
        class="font-normal text-xs text-blue-600 hover:text-blue-700"
      >
        Back
      </.link>
    </:actions>
  </.header>

  <.room_form form={@form} />
</div>
